---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_102iLP2KTpnhK99nMcHnBRDA&description=Registration%20charge%20for%20john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_N48qOGDVJ2ZckNemGrCnKKFa
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_102iLP2KTpnhK99ndbARObZU",
          "object": "charge",
          "created": 1381216566,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_102iLP2KTpnhK99ndmhO67gy",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 7,
            "exp_year": 2017,
            "fingerprint": "F2GSq6gyzDeK3LYE",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_102iLP2KTpnhK99nq1HRDf8X",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Registration charge for john@example.com",
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Tue, 08 Oct 2013 07:16:06 GMT
recorded_with: VCR 2.6.0
