---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_N48qOGDVJ2ZckNemGrCnKKFa
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_102idk2KTpnhK99nFNTJxlOm",
          "livemode": false,
          "created": 1381284741,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_102idk2KTpnhK99nVuUiacxY",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "Hxy2sFri82s3sAiM",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Wed, 09 Oct 2013 02:12:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_102idk2KTpnhK99nFNTJxlOm&description=An%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_N48qOGDVJ2ZckNemGrCnKKFa
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_102idk2KTpnhK99n46S1jcQt"
          }
        }
  recorded_at: Wed, 09 Oct 2013 02:12:28 GMT
recorded_with: VCR 2.6.0
