---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_N48qOGDVJ2ZckNemGrCnKKFa
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_102lFS2KTpnhK99nKjoNlGS6",
          "livemode": false,
          "created": 1381886301,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_102lFS2KTpnhK99nJ2Zj11re",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "F2GSq6gyzDeK3LYE",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Wed, 16 Oct 2013 01:18:21 GMT
recorded_with: VCR 2.6.0
