!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      = @user.full_name
      , please click on the link below to reset your password:
    %p= link_to "Reset my password", password_reset_url(@user.token)
