<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Welcome to Myflix.com, <%= @user.full_name %></h2>
    <p>
      You have successfully signed up for Myflix. Enjoy the videos!
    </p>
  </body>
</html>
