- @categories.each do |category|
  %article.video_category
    %header
      %h3= link_to category.name, category_path(category)
    .videos.row
      - category.videos.each do |video|
        .video.span2
          = link_to (image_tag(src="/tmp/#{video.small_cover_url}.jpg")), video_path(video)

